/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';

.container{
  text-align: center;
}
.unSlectedBtn, .selectedBtn{
  font-weight: bold;
}
a:hover{
  color:#fff;
}

//レスポンシブフォントサイズ
@media screen and (max-width: 575px) {
 	h1{ font-size: 35px; }
	h2{ font-size: 15px; }
	label{ font-size: 15px; }
 	#adminScheduleModal label, #createUserModal label, .manage label{ font-size: 10px; }
	input[type="submit"] { font-size: 15px; }
	.unSlectedBtn, .selectedBtn{ font-size: 15px !important; width:60px !important; padding: 2px;}
  .modal-body th, .modal-body td{ font-size: 10px; }
 	.modal-body{ font-size: 15px; }
 }

@media screen and (min-width: 576px) and (max-width: 768px) {
 	h1{ font-size: 55px; }
 	h2{ font-size: 25px; }
 	label{ font-size: 25px; }
 	#adminScheduleModal label, #createUserModal label, .manage label{ font-size: 15px; }
	input[type="submit"] { font-size: 25px; }
	a{ font-size: 1rem; }
	.unSlectedBtn, .selectedBtn{ font-size: 15px !important; width:79px !important; padding: 2px; }
 	.modal-body{ font-size: 20px; }
 }

@media screen and (min-width: 769px) and (max-width: 992px) {
	h1{ font-size: 55px; }
 	h2{ font-size: 25px; }
 	label{ font-size: 25px; }
 	#adminScheduleModal label, #createUserModal label, .manage label{ font-size: 15px; }
	input[type="submit"] { font-size: 25px; }
	a{ font-size: 2rem; }
	.unSlectedBtn, .selectedBtn{ font-size: 15px !important; width:79px !important; padding: 2px; }
 	.modal-body{ font-size: 25px; }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
 	h1{ font-size: 70px; }
 	h2{ font-size: 30px; }
 	label{ font-size: 30px; }
 	#adminScheduleModal label, #createUserModal label, .manage label{ font-size: 20px; }
	a{ font-size: 2rem; }
	input[type="submit"] { font-size: 30px; }
	.unSlectedBtn, .selectedBtn{ font-size: 20px !important; width:94px !important; padding: 2px; }
 	.modal-body{ font-size: 25px; }
 }

@media screen and (min-width: 1201px) {
	h1{ font-size: 85px; }
 	h2{ font-size: 35px; }
 	label{ font-size: 35px; }
 	#adminScheduleModal label, #createUserModal label, .manage label{ font-size: 20px; }
	input[type="submit"] { font-size: 30px; }
	a{ font-size: 2rem; }
	.unSlectedBtn, .selectedBtn{ font-size: 20px !important; width:94px !important; padding: 3px; }
 	.modal-body{ font-size: 25px; }
 }
